@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
